body {
  background-color: lightblue;
}
li {
  list-style-type: square;
  margin: 10px;
  color: darkblue;
}
a {
  font-weight: bold;
}
p {
  color: white;
  background-color: cornflowerblue;
}
span {
  color: black;
  background-color: white;
}
