body {
  background-color: #6a5acd;
  color: #fdffff;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #337ab7;
  border-style: none;
}
input {
  height: 20px;
}
span {
  color: black;
  background-color: white;
  padding: 10px;
}
